services:
  # 1. Contenedor de la Base de Datos
  db:
    image: mariadb:10.11 # Funciona con esta versión
    container_name: db_service
    restart: always
    volumes:
      - ./mariadb_data:/var/lib/mysql
    environment:
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MARIADB_DATABASE: ${DB_NAME}
      MARIADB_USER: ${DB_USER}
      MARIADB_PASSWORD: ${DB_PASSWORD}
    
  # 2. Contenedor de la Aplicación Web (Django)
  web:
    build:
      context: ./web
      dockerfile: Dockerfile
    container_name: web__lms_app
    restart: always
    volumes:
      - ./web:/app  # Mapea tu código local para desarrollo en tiempo real
      - /home/ubuntu/marinaOjedaS3:/home/ubuntu/marinaOjedaS3:rw  # Monta el bucket de Oracle OCI para archivos media
    command: ["./wait-for-db.sh", "sh", "-c", "python manage.py makemigrations accounts && python manage.py makemigrations assignments && python manage.py makemigrations core && python manage.py makemigrations courses && python manage.py makemigrations attendance && python manage.py makemigrations materials && python manage.py makemigrations units && python manage.py migrate && python create_superuser.py && exec python manage.py runserver 0.0.0.0:8000"]
    ports:
      - "5801:8000"
    env_file:
      - ./.env
    environment:
      DJANGO_SUPERUSER_USERNAME: admin
      DJANGO_SUPERUSER_EMAIL: admin@example.com
      DJANGO_SUPERUSER_PASSWORD: admin123
    depends_on:
      - db # No intentes iniciar la web hasta que la base de datos esté lista
    networks:
      - default
      - nginx_proxy

networks:
  nginx_proxy:
    external: true
    name: ngnixproxymanager_default