# Configuración de la Base de Datos
DB_HOST=db  # Importante: el host es el nombre del servicio en docker-compose
DB_NAME=tareas_db
DB_PORT=3306
DB_USER=admin
DB_PASSWORD=unacontraseñamuysegura
DB_ROOT_PASSWORD=otracontraseñamuysegura

# Configuración de Django
DJANGO_SECRET_KEY='tu-secret-key-aqui' # Genera una con Django
DJANGO_DEBUG=True
DJANGO_SETTINGS_MODULE=web.settings

# Configuración del Bot
TELEGRAM_BOT_TOKEN='7186023371:AAGF2DMOS2mz7MKATLRx7zjDwM3e2o7b16U' # Solo un ejemplo
ADMIN_CHAT_ID='ChatId del administrador'
